*{
    margin: 0;
    padding: 0;
}
img{
    width: 200px;
}
h5{
    color: blue;
    font-size: 2.5em;
}

button{
    color: blue;
    
}
body{
    background-image:url("XO.jpg") ;
}